node_modules/
package-lock.json
package.json
/.vscode

Modulo_1/Python/Ejercicios de Python/
Modulo_1/Python/Examenes/Respuestas

Modulo_2/.vscode/
Modulo_2/package-lock.json
Modulo_2/package.json
Modulo_2/JavaScript/node_modules/
Modulo_2/JavaScript/Ejercicios de JS/Calculadora Cientifica/

Modulo_3/C++/Ejercicios C++/Calculadora Cinetifica/
Modulo_3/C++/Ejercicios C++/Examen Basico/1.cpp
Modulo_3/C++/Ejercicios C++/Examen Basico/2.cpp
Modulo_3/C++/Ejercicios C++/Examen Basico/3.cpp
Modulo_3/C++/Ejercicios C++/Examen Basico/4.cpp
Modulo_3/C++/Ejercicios C++/Examen Basico/5.cpp
Modulo_3/C++/Ejercicios C++/Examen Basico/6.cpp
Modulo_3/C++/Ejercicios C++/Examen Basico/7.cpp
Modulo_3/C++/Ejercicios C++/Examen Basico/8.cpp
Modulo_3/C++/Ejercicios C++/Examen Basico/9.cpp
Modulo_3/C++/Ejercicios C++/Examen Basico/10.cpp